@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  @font-face {
    font-family: "IrHoma";
    src: url("../src/assets/fonts/IRHoma.woff2"), format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "IrSans";
    src: url("../src/assets/fonts/IRSans.woff2"), format("woff2");
    font-display: swap;
  }
}

input[type="file"]::-webkit-file-upload-button{
  display: none; 
  /* background-image: url("../src/assets/images/logo.png");
  background: #000;
  color: yellowgreen */
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 20px;
}

*::-webkit-scrollbar-track {
    background: #f5f3f3;
  
  }
  
 *::-webkit-scrollbar-thumb {
    background: #9c9a9a;
}